@import 'package:matrix_invite_frontend/utils';

$accent-color: #f8d964;
$accent-text-color: black;

$overlaid-background-color: #36393e;
$overlaid-text-color: white;

body {
  background-attachment: fixed;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;

  @include media('mobile') {
    background-size: 420px !important;
  }

  @include media('desktop', 'tablet') {
    background-size: 768px !important;
  }
}
